*~
*.jl.cov
*.jl.*.cov
*.jl.mem
deps/deps.jl
src/BinPackingConflict/instances/PM-u010-01.txt
src/BinPackingConflict/instances/PM-u010-02.txt
src/BinPackingConflict/instances/PM-u010-03.txt
src/BinPackingConflict/instances/PM-u010-04.txt
src/BinPackingConflict/instances/PM-u010-05.txt
src/BinPackingConflict/instances/PM-u010-06.txt
src/BinPackingConflict/instances/PM-u010-07.txt
src/BinPackingConflict/instances/PM-u010-08.txt
src/BinPackingConflict/instances/PM-u010-09.txt
src/BinPackingConflict/instances/PM-u010-10.txt
src/BinPackingConflict/instances/PM-u020-01.txt
src/BinPackingConflict/instances/PM-u020-02.txt
src/BinPackingConflict/instances/PM-u020-03.txt
src/BinPackingConflict/instances/PM-u020-04.txt
src/BinPackingConflict/instances/PM-u020-05.txt
src/BinPackingConflict/instances/PM-u020-06.txt
src/BinPackingConflict/instances/PM-u020-07.txt
src/BinPackingConflict/instances/PM-u020-08.txt
src/BinPackingConflict/instances/PM-u020-09.txt
src/BinPackingConflict/instances/PM-u020-10.txt
src/BinPackingConflict/instances/PM-u030-01.txt
src/BinPackingConflict/instances/PM-u030-02.txt
src/BinPackingConflict/instances/PM-u030-03.txt
src/BinPackingConflict/instances/PM-u030-04.txt
src/BinPackingConflict/instances/PM-u030-05.txt
src/BinPackingConflict/instances/PM-u030-06.txt
src/BinPackingConflict/instances/PM-u030-07.txt
src/BinPackingConflict/instances/PM-u030-08.txt
src/BinPackingConflict/instances/PM-u030-09.txt
src/BinPackingConflict/instances/PM-u030-10.txt
src/BinPackingConflict/instances/PM-u060-01.txt
src/BinPackingConflict/instances/PM-u060-02.txt
src/BinPackingConflict/instances/PM-u060-03.txt
src/BinPackingConflict/instances/PM-u060-04.txt
src/BinPackingConflict/instances/PM-u060-05.txt
src/BinPackingConflict/instances/PM-u060-06.txt
src/BinPackingConflict/instances/PM-u060-07.txt
src/BinPackingConflict/instances/PM-u060-08.txt
src/BinPackingConflict/instances/PM-u060-09.txt
src/BinPackingConflict/instances/PM-u060-10.txt
src/BinPackingConflict/instances/PM-u120-01.txt
src/BinPackingConflict/instances/PM-u120-02.txt
src/BinPackingConflict/instances/PM-u120-03.txt
src/BinPackingConflict/instances/PM-u120-04.txt
src/BinPackingConflict/instances/PM-u120-05.txt
src/BinPackingConflict/instances/PM-u120-06.txt
src/BinPackingConflict/instances/PM-u120-07.txt
src/BinPackingConflict/instances/PM-u120-08.txt
src/BinPackingConflict/instances/PM-u120-09.txt
src/BinPackingConflict/instances/PM-u120-10.txt
